<div class="container">
  <div class="row">
    <div class="col-md">
      <h3>Your shopping cart</h3>
      <hr/>
    </div>
  </div>
</div>

  <br><br><br>
<div class="container">
  <div class="row">
    <div class="container col-6">
      <div class="border m-1" *ngFor="let item of cart_items">
        <div class="m-3">

          <div class="row d-flex align-items-center">
            <img [src]="item.filePath" routerLink="/product-page" class="rounded float-left pointer col-2" alt="...">
            <h4 class="col-4">{{item.name}}</h4>
            <h5 class="col-2">{{item.price}} kr</h5>

            <div class="col-3">
              <i  (click)="decreaseAmountOfProductInCart(item.productsInCartID, item.amount, item.productID)">-</i>
              <input type="number"  disabled="disabled" value="{{item.amount}}" class="m-2 text-center col-md-6">
              <i  (click)="increaseAmountOfProductInCart(item.productsInCartID, item.amount)">+</i>
            </div>

            <!--<button type="button" class="btn btn-danger col-2" (click)="removeItem(item.productID)" name="button">Remove</button>-->
            <i class="col-1" (click)="removeItem(item.productID)">X</i>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="userID == 0 && noUser">
      <h1 class="text-center">Shopping cart is not available at the moment for non-logged in users</h1>
    </div>

    <div class="col-6" *ngIf="userID != 0">
      <div class="border m-1 col-md">
        <div class="m-3">
          <div class="row">
            <h6 class="col-6">Pris</h6>
            <h6 class="col-6 text-end">{{currentPrice}} kr</h6>
          </div>
          <div class="row">
            <h6 class="col-6">Rabatt</h6>
            <h6 class="col-6 text-end">{{sale}} kr</h6>
          </div>
          <div class="row">
            <h6 class="col-6">Frakt</h6>
            <h6 class="col-6 text-end">{{shipping}} kr</h6>
          </div>
          <hr/>
          <br>
          <div class="row">
            <h4 class="col-6">Total Pris</h4>
            <h4 class="col-6 text-end">{{totalPrice}} kr</h4>
          </div>
          <br>
          <button class="btn btn-primary btn-lg btn-block col-12" type="submit" (click)="orderCartProducts()" routerLink="/shopping-cart">Lägg order</button>
        </div>
      </div>
    </div>
  </div>
</div>
