<div class="list-group mt-5">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true" *ngFor="let item of orders; let orderNumber = index">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Order #{{orderNumber + 1}}</h5>
      <!--<small>3 days ago</small>-->
    </div>

    <div>
      <ul class="list-group">

        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let product of item.products">
          <div class="">
            <img src="assets\200x200.svg" class="rounded float-start" style="width:20%" alt="">
            <p class="float-start m-4">{{product.name}}</p>
          </div>
          <div class="mt-3">
            <p>{{product.price}} kr</p>
          </div>
          <span class="badge bg-dark">{{product.amount}} st</span>
        </li>
      </ul>
    </div>

  </a>
</div>
