<div>
  <button type="button" name="button" class="btn btn-lg btn-primary" routerLink="/admin-product">Add a new product</button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products">
      <th scope="row">{{item.ProductID}}</th>
      <td>{{item.Name}}</td>
      <td>{{item.Price}}</td>
      <td>{{item.Amount}}</td>
      <td *ngIf="item.Status == 1">Inactive</td>
      <td *ngIf="item.Status == 0">Active</td>
      <!-- <td><button type="button" name="button" class="btn btn-danger" (click)="deleteProduct(item.ProductID)">Delete</button></td> -->
      <td><button type="button" name="button" class="btn btn-primary" (click)="flipProductStatus(item.ProductID, item.Status)">Change status</button></td>
    </tr>
  </tbody>
</table>
