<!--<div class="row">
  <h1 class="text-center">Preview of product</h1>
  <br><br><br><br><br><br>
  <div class="col-md d-flex justify-content-center">
    <img src="assets/200x200.svg" class="rounded float-left" alt="...">
  </div>

  <div class="col-md">
    <h3></h3>
    <p></p>
  </div>

  <div class="col-md">
    <div class="border m-5">
      <div class="m-3">
        <h4>Pris: kr</h4>
        <h6>Lager status: I lager</h6>
        <h6>Leveranstid: 3-5 dagar</h6>
        <br>
        <button class="btn btn-primary btn-lg btn-block col-6" type="submit">Lägg till i varukorgen</button>
      </div>
    </div>
  </div>

</div>

<br>

<hr/>-->

<br>

<div class="row">
  <div class="col-3"></div>

  <div class="col-6">
    <h1 class="text-center">Add a product</h1>
    <form #productForm="ngForm" (ngSubmit)="saveProduct(productForm)" action="index.html" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Title</label>
        <input class="form-control" id="title" maxlength="50" name="name" required ngModel>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3" maxlength="200" name="description" ngModel></textarea>
      </div>

      <!--<div class="input-group mb-3">
        <label for="category" class="form-label">Category</label>
        <input class="form-control" list="datalistOptions" maxlength="50" id="category" name="category" placeholder="Type to search..." ngModel>
        <datalist id="datalistOptions">
          <option *ngFor="let x of category; index as i" value="test category {{i+1}}">
        </datalist>
      </div>-->

      <div class="input-group mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" max="999999999" min="0" name="price" aria-label="Dollar amount (with dot and two decimal places)" required ngModel>
        <span class="input-group-text">kr</span>
      </div>

      <div class="input-group mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="price" max="999999999" min="0" name="amount" aria-label="Amount of product in storage" required ngModel>
      </div>

      <!--<div class="mb-3">
        <label for="imageFile" class="form-label">Image</label>
        <input class="form-control" type="file" id="imageFile" accept="image/png, image/jpeg" name="imageFile" ngModel>
      </div>-->

      <br><br>

      <div class="d-grid">
        <button type="submit" class="btn btn-lg btn-success" name="button">Save product</button>
      </div>
    </form>


  </div>
</div>
