<br>

<div class="row">
  <div class="col-3"></div>

  <div class="col-6">
    <h1 class="text-center">Add a product</h1>
    <form #productForm="ngForm" (ngSubmit)="saveProduct(productForm)" action="index.html" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Title</label>
        <input class="form-control" id="title" maxlength="50" name="name" required ngModel>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3" maxlength="200" name="description" ngModel></textarea>
      </div>

      <div class="input-group mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" max="999999999" min="0" name="price" aria-label="Dollar amount (with dot and two decimal places)" required ngModel>
        <span class="input-group-text">kr</span>
      </div>

      <div class="input-group mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="price" max="999999999" min="0" name="amount" aria-label="Amount of product in storage" required ngModel>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="status" checked ngModel>
        <label class="form-check-label" for="flexCheckChecked">
          Hide product
        </label>
      </div>

      <div class="input-group mb-3">
        <label for="filePath" class="form-label">Image URL</label>
        <input type="text" name="filePath" size="50" max="1000" ngModel>
      </div>

      <br><br>

      <div class="d-grid">
        <button type="submit" class="btn btn-lg btn-success" name="button">Save product</button>
      </div>
    </form>


  </div>
</div>
